<html>

<head>
	<title>admin</title>
	<link href="/static/styles.css" type="text/css" rel="stylesheet">
	<link href="/static/jquery-ui.css" type="text/css" rel="stylesheet">
	<link rel="shortcut icon" href="/static/round-shield-with-star-832031.ico" type="image/x-icon">
</head>

<body>

	<div class="container">
		<!--
		<div class="header">
			<h1 class="header-heading">Welcome {{ username }}</h1>
		</div>
		-->
		<div class="nav-bar">
			<!-- <img src="/static/main-logo.png" /> -->
			<img src="/static/main-logo-white.png" style="float: left; margin-left: -35px; margin-top: -5px; margin-right: 10px" height="30px"/></li>

			<ul class="nav">
				<li><font style="color:white"><a href="/{{ username }}">{{ username }}</a>/admin</font></li>
				<li><font style="color:white">|</font></li>
				<li><a href="/admin/create_user">create_user</a></li>
			</ul>
		</div>

	<div class="content">
		<div class="main">

		{% if error %}
		<p style="color: red; margin: 3px;"><strong>{{ error }}</strong></p>
		{% endif %}

		<p><i>"With great power comes great responsibility"</i></p>

		<h2>Users</h2>
		<table>
		{% for user in username_list %}
		<tr><td>{{ user }}</td></td><td>edit</td></tr>
		{% endfor %}
		</table>

		</div>
	</div>

</body>

</html>
