<html>

<head>
	<title>{{ username }}</title>
	<link href="/static/styles.css" type="text/css" rel="stylesheet">
	<link href="/static/jquery-ui.css" type="text/css" rel="stylesheet">
	<link rel="shortcut icon" href="/static/round-shield-with-star-832031.ico" type="image/x-icon">
</head>

<body>

	<div class="container">
		<!--
		<div class="header">
			<h1 class="header-heading">Welcome {{ username }}</h1>
		</div>
		-->
		<div class="nav-bar">
			<!-- <img src="/static/main-logo.png" /> -->
			<img src="/static/main-logo-white.png" style="float: left; margin-left: -35px; margin-top: -5px; margin-right: 10px" height="30px"/></li>

			<ul class="nav">
				<li><font style="color:white">{{ username }}</font></li>
				<li><font style="color:white">|</font></li>
				<li><a href="/{{ username }}/create_notebook">create_notebook</a></li>
				{% if is_admin %}
				<li><font style="color:white">|</font></li>
				<li><a href="/admin">admin</a></li>
				{% endif %}
				<li><font style="color:white">|</font></li>
				<li><a href="/logout">logout</a></li>
			</ul>
		</div>

	<div class="content">
		<div class="main">

		<h3>Existing notebooks</h3>
		
		<table>
		{% for notebook in notebooks %}
		<tr><td>{{ notebook }}</td><td><a target="_blank" href="/{{ username }}/notebook/{{ notebook }}">open</td><td>delete</td></tr>
		{% endfor %}
		</table>
		<!--
		<ul>
			{% for notebook in notebooks %}
			<li><a href="/{{ username }}/notebook/{{ notebook }}">{{ notebook }}</li>
			{% endfor %}
		</ul>
		-->

		</div>
	</div>

</body>

</html>
