<html>

<head>
	<title>{{ username }}/{{ notebook }}</title>
	<link href="/static/styles.css" type="text/css" rel="stylesheet">
	<link href="/static/jquery-ui.css" type="text/css" rel="stylesheet">
	<link rel="shortcut icon" href="/static/round-shield-with-star-832031.ico" type="image/x-icon">
<style>

body {
	background-color: #CFCFCF
}

.blockHeader {
	margin-bottom: 0px;
}

.blockTimestamp {
	font-style: italic;
}

.blockContainer {
	background-color: #FFFFFF;
	width: 300px;
	height: 300px;
	max-width: 100%;
	max-height: 100%;
	border: thin solid black;
	margin-top: 0px;
	margin-bottom: 20px;
}

.resizableImage {
	display: block;
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}

.wrappablePre {
	white-space: pre-wrap;
}

</style>
</head>

<script type="text/javascript" src="/static/jquery.js"></script>
<script type="text/javascript" src="/static/jquery-ui.js"></script>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

<script>

var data_lookup;
var html_lookup;
var text_lookup;

// get the user and notebook name
var pathname = location.pathname;
pathname = pathname.substring(1);
var divide = pathname.indexOf('/');
var username = pathname.substring(0,divide);
pathname = pathname.substring(divide+1);
// skip the "notebooks" identifier
var nb_name = pathname.substring(pathname.indexOf('/')+1)

console.log('username: ' + username);
console.log('notebook: ' + nb_name);
//var nb_name = location.pathname.replace('/notebook/','');

$(document).ready(function(){
	// set the title of the notebook
	// $('#nb_title').text('Notes from ' + nb_name);

	// connect to server
    var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);

	socket.on('connect', function() {
		console.log('connected');
		$('#cxn_led').attr("src","/static/green-dot-md.png");

		// delete all existing blocks
		$( ".outerBlockContainer" ).remove();		

		// join this notebook
		// TODO: Get the actual notebook to join
		var full_nb_name = username + '-' + nb_name;
		socket.emit('join', {notebook: full_nb_name})

	});

	socket.on('disconnect', function() {
		console.log('disconnected');
		$('#cxn_led').attr("src","/static/red-dot-md.png");
	});

	socket.on('image added', function(image_data) {
		console.log('creating an image...');
		console.log(image_data);
		insertImage(image_data);
	});

	socket.on('table added', function(table_data) {
		console.log('creating a table with data...');
		console.log(table_data);
		insertTable(table_data);
	});

	socket.on('html added', function(html_content) {
		console.log('creating html block with data...');
		console.log(html_content);
		insertHtmlBlock(html_content);
	});

	socket.on('text added', function(text_content) {
		console.log('creating text block with data...');
		console.log(text_content);
		insertTextBlock(text_content);
	});

    socket.on('my response', function(msg) {
        console.log('Received: ' + msg.data);
    });
/*    $('form#emit').submit(function(event) {
        socket.emit('my event', {data: $('#emit_data').val()});
        return false;
    });
    $('form#broadcast').submit(function(event) {
        socket.emit('my broadcast event', {data: $('#broadcast_data').val()});
        return false;
    });
*/
});

</script>

<body>
	<div class="container">
		<!--		<div class="header">
			<h1 class="header-heading">Notebook: {{ notebook }}</h1>
	<p id="cxn_status" style="text-align: right">Connection status: <img id="cxn_led" src="/static/red-dot-md.png" height=10 width=10/></p>
		</div>
		-->
		<div class="nav-bar">
			<img src="/static/main-logo-white.png" style="float: left; margin-left: -35px; margin-top: -5px; margin-right: 10px" height="30px"/></li>

			<ul class="nav">
				<li><font style="color: white">{{ username }}/{{ notebook }} </font><img id="cxn_led" src="/static/red-dot-md.png" height=10 width=10/></li>
				<li><font style="color: white">|</font></li>
				<li><a href="/{{ username }}">home</a></li>
				<li><a href="/logout">logout</a></li>
			</ul>
		</div>

	<div class="content">
		<div class="main">
			<div id="block_head"/>

	<!--	<input type="button" value="Create Plot" onclick="insertChart();"/> -->

		</div>
	</div>
</body>

<script>

var next_block_container_id = 0;

function createBlockContainer(title,timestamp,inner_component) {
	var outer_div = document.createElement("div");
	outer_div.className = "outerBlockContainer";

	var div = document.createElement("div");
	div.id = "block_container_" + next_block_container_id.toString();
	div.className = 'blockContainer';
	next_block_container_id += 1;
	
	var header = document.createElement("h2");
	header.className = "blockHeader";
	var text = document.createTextNode(title);
	header.appendChild(text);
	outer_div.appendChild(header);

	var timestamp_tag = document.createElement("small");
	timestamp_tag.className = "blockTimestamp";
	text = document.createTextNode("(" + timestamp + ")");
	timestamp_tag.appendChild(text);
	outer_div.appendChild(timestamp_tag);

	outer_div.appendChild(div);

	div.appendChild(inner_component);

	//document.body.appendChild(outer_div)
	$(outer_div).insertAfter('#block_head');
	//$('#cxn_status').insertAfter(outer_div);
	$('#'+div.id).resizable();

	return outer_div;
}

function insertImage(image_data) {

	var title = image_data["title"];
	var timestamp = image_data["timestamp"];
	var url = '/upload/images/' + image_data["filename"];

	var img_ref = document.createElement("img");
	img_ref.className = 'resizableImage';
	img_ref.src = url;

	createBlockContainer(title,timestamp,img_ref);
}

function insertHtmlBlock(html_content) {

	// get the first line, which is JSON, holding our metadata
	var split_point = html_content.indexOf('\n');
	var header = JSON.parse(html_content.substring(0,split_point));
	var content = html_content.substring(split_point+1);

	var div = document.createElement("div");
	div.innerHTML = content;

	createBlockContainer(header["title"],header["timestamp"],div);
}

function insertTextBlock(text_content) {

	// get the first line, which is JSON, holding our metadata
	var split_point = text_content.indexOf('\n');
	var header = JSON.parse(text_content.substring(0,split_point));
	var content = text_content.substring(split_point+1);

	// add the block 
	var pre = document.createElement("pre");
	pre.className = "wrappablePre";
	var pre_content = document.createTextNode(content);
	pre.appendChild(pre_content)
	createBlockContainer(header['title'],header['timestamp'],pre);
}

function insertTable(chart_spec) {

	var div = createBlockContainer();

	/*
	var header = document.createElement("h2");
	var htext = document.createTextNode("This is a plot");
	header.appendChild(htext);
	*/

	var canvas = document.createElement("canvas");
	canvas.width = 400;
	canvas.height = 325;

	//div.appendChild(header);
	div.appendChild(canvas);
	document.body.appendChild(div);

	$('#'+div.id).resizable();

	var myChart = new Chart(canvas, chart_spec);
	/*{
		type: 'line',
		data: {
			datasets: [{
				label: 'Scatter',
				data: [
					{x: -10, y: 0},
					{x: 0, y: 10},
					{x: 10, y: 5}
				]
			}]
		}
	});
	*/
}
</script>

</html>
